/*FONT IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Orbitron:wght@500;700&family=Audiowide&family=Monoton&family=Press+Start+2P&display=swap');



/*MAIN BODY*/
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Orbitron, sans-serif;
  color: white;
  background-image: url("Background11.jpg");
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}




/* GAMING BORDER */
body {
  border: 10px solid #ff3030;
  border-radius: 40px;
  box-sizing: border-box;

}

html {
  background: radial-gradient(circle at center, #200 0%, #000 100%);
}


/*MAIN MENU NAVIGATION*/
header {
  text-align: center;
  position: relative;
  background-image: url(GuitarCadeHeader13.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 4px solid #ff3030;
  padding: 20px 0px 25px;

}

/*MAIN TITLES AND FONTS*/
h1 {
  position: relative;
  font-family: Russo One, arial;
  line-height: 1;
  font-size: clamp(1rem, 8vw, 11rem);

  color: #ffea00;
  text-align: center;
  letter-spacing: 5px;
  margin: 20px;
  text-shadow:
    4px 4px #ff3030,
    8px 8px 0 #660000,
    0 0 30px #FF500066,
    0 0 60px #FF000033;
  animation: titlepulse 5s ease-in-out infinite;
  filter: drop-shadow(0 0 12px #FFC80066)
}


/*  GLOW SHADOW EFFECT BASED ON https://www.w3schools.com/howto/howto_css_glowing_text.asp?utm_source=chatgpt.com */

@keyframes titlepulse {
  0%,
  100% {
    text-shadow:
      4px 4px 0 #ff3030,
      8px 8px #660000,
      0 0 25px #ff640066,
      0 0 60px #ff000040;

  }

  50% {
    text-shadow:
      4px 4px 0 #ff3300,
      10px 10px 0 #990000,
      0 06px 55px #ffb400bf,
      0 0 110px #ff3c0099;

  }
}

header h1 a {
  color: inherit;
  text-decoration: none;
}

header h1 a:hover {
  opacity: 0.85;
  cursor: pointer;
}


blockquote {
  font-family: Audiowide,'sans-serif';
  text-align: center;
  color: #36b3ff;
  font-size: 1.6em;
  margin: 15px 5%;
  letter-spacing: 3px;
  border-top: 2px solid #36b3ff;
  border-bottom: 2px solid #36b3ff;
  padding: 5px;

}

h3 {
  font-family: Audiowide, 'sans-serif';
  color: #36b3ff;
  text-align: center;
  letter-spacing: 1.5px;
  margin: 5px 10px 12px;
  line-height: 1.2;
  border-top: 2px solid #36b3ff;
  border-bottom: 2px solid #36b3ff;
  padding: 5px;
}




/*MAIN MENU NAVIGATION LINKS*/

nav li {
  display: flex;
  min-width: 130px;
  max-width: 280px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  gap: 40px;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: Russo One, sans-serif;
  text-decoration: none;
  Color: #ffea4d;
  background-color: black;
  border: 2px solid #ff3030;
  border-radius: 10px;
  padding: 10px 0px;
  min-height: 45px;
  box-sizing: border-box;

  line-height: 1
}


nav a:hover {
  background: #ffea4d;
  color: #000;
  padding: 0.8em;
  font-weight: bold;
  transform: scale(1.2);
  transition: all 0.3s ease;
}



/*COLUMNS IN MAIN BODY*/

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto 30px;
  gap: 15px;
}


.column {
  background: #FFFFFF0D;
  border: 2px solid #ff3030;
  border-radius: 10px;
  padding: 10px;
  
}

.main {
  padding-top: 5px;
  padding-inline: 20px;
  flex: 3 1;

}

.left {
  flex: 1;
  min-width: 200px;
}

.right-group {
  display: flex;
  flex: 1;
  gap: 10px;
  flex-direction: column;
}


.right {
  text-align: center;
  min-width: 200px;

}





/*LEFT COLUMN CONFIG*/

.column ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0;
}

.column ul li {
  background: #FFFFFF0D;
  margin: 0px;
  margin-bottom: 10px;

  border-radius: 10px;
  font-weight: bold;
  border: 1px solid #FFC8004d;
  text-align: center;
}

.article-list {
  padding: 0;
  margin: 0;
  list-style: none;
}



.article-list a {
  text-decoration: none;
  color: inherit;
}

.article-list li:hover {
  background: #ff3030;
  color: #fff;
  transform: scale(1.02);
}

.article-list li {

  margin: 10px 0;
  padding: 10px 14px;
  transition: all 0.3s ease;
}

.article-title {

  color: #ffea4d;
  font-size: 0.95em;
  margin-bottom: 4px;
  display: block;

}

.article-blurb {

  font-size: 0.9em;
  line-height: 1.4;
  margin: 0
}

/*RIGHT COLUMN CONFIG*/
/*SOCIAL LINKS*/
.social-links {
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}



.social-links a {
  font-weight: bold;
  justify-content: center;

  color: white;
  position: relative;
  width: 100%;
  max-width: 220px;
  text-align: center;
  text-decoration: none;
}

.social-links img {
  width: 100%;
  border-radius: 8px;
  border: 2px solid #FFC8004D;
}



.social-links a:hover img {
  transform: scale(1.02);
  content: url('SocialHover3.jpg');
  transition: all 0.5s ease;
  border: 2px solid #ff3030;

}


.social-links a:hover span {
  color: black;
  font-weight: bold;
  transition: all 0.6s ease;
  transform: scale(1.02);
}


.social-links span {
  position: absolute;
  top: 35%;
  left: 45%;

  font-size: 1em;
}




/*FOOTER*/

footer {
  text-align: center;
  color: #ffea00;
  font-size: 1em;
  padding: 20px;
  border-top: 2px solid #ff3030;
  align-items: center;
  justify-content: center;
  background-color: #000;

}

footer a {
  color: #ffea00;
  text-decoration: none;
  font-weight: bold;

}

p a:hover {
  color: black;
  background-color: #ffea00;
  padding: 2px 5px;
  border-radius: 4px;
}

p a {
  color: #ffea4d;
  font-weight: bold;
  text-decoration: none;

  transition: all 0.3s ease;
}

/*INSERT COIN FLASHING EFFECT
BASED ON
https://www.geeksforgeeks.org/css/how-to-create-blinking-text-using-css/?utm_source=chatgpt.com
*/


.insert-coin {
  text-align: center;
  font-family:  monospace,'sans-serif';
  font-size: 15px;
  color: #ffea00;
  border: 2px solid #ff3030;
  padding: 10px;
  border-radius: 7px;
  animation: blink1 2s steps(10, start) infinite;
}

@keyframes blink1 {
  90% {
    opacity: 0;
  }
}



/*RESPONSIVE PAGE ELEMENTS*/

@media (max-width: 400px) {
  nav ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
  }

  nav a {
    font-size: 0.95em;
    padding: 10px 20px;
    
  }
}

@media (max-width: 700px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width:900px){
  nav ul {gap:4px;
   flex-direction: column;
    align-items: center;
  padding:0;
margin:0 }

  nav li {
    flex: 1 1 100%;
    width: 100%;
    text-align: center;
    font-size: 1em;
    padding: 6px 0;
    margin: 0;
    border-radius: 10px;
    box-sizing: border-box;
  }
}

nav a {
  padding: 8px 0;
}

@media (max-width: 600px) {
.article-title {
  font-size:0.9em;
}

.article-blurb {
  font-size: 0.75em;
}

}

/*EMBEDDED VIDEO*/
.video-container {
  position: relative;
  display: flex;
justify-content: center;
align-items: center;
width: fit-content;
  max-width: 100%;
  border: 2px solid #ff3030;
    border-radius: 10px;
   overflow: hidden;
margin:0 auto;

}

.video-container iframe {
  margin: -10px;
   max-width: 100%;
  display: block;
}

