/*MAIN BODY*/
 html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial;
  color: white;
  background-image: url("Background1.jpg");
  background-position: center center;
  background-size: 100%;
overflow-x: hidden;

     
 
}

/* GAMING BORDER */
body {
  border: 10px solid #ff3030;
  border-radius: 40px;
box-sizing: border-box;

}

html {
  background: radial-gradient(circle at center, #200 0%, #000 100%);
}


/*MAIN MENU NAVIGATION*/
header {text-align: center;
position: relative;
background-image: url(Guitarcore4.jpg);
background-size: cover;
background-position: top;
background-repeat: no-repeat;
border-bottom: 4px solid #ff3030;
padding: 20px 0px 10px;
margin: 0;
}

/*MAIN TITLES AND FONTS*/
h1 {
  position: relative;
  font-family: 'Roboto';
  line-height: 1;
  color: #ffea00;
  text-align: center;
  letter-spacing: 5px;
  margin: 20px;
  text-shadow: 6px 6px 0 #ff3030,
  6px 6px 0 #ff3030,
  8px 8px 0 #660000;

}

header h1 a {
  color: inherit;
  text-decoration: none;
}

header h1 a:hover {
  opacity: 0.85;
  cursor: pointer;
}


blockquote {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
color: #36b3ff;
font-size: 1.6em;
letter-spacing:3px;
  border-top: 1px solid rgba(13, 141, 233, 0.9);
  border-bottom: 1px solid rgba(13, 141, 233, 0.9);
padding: 10px;
line-height: 1;
}

h3 {font-family: 'Courier New', Courier, monospace;
color: #36b3ff;
  text-align: center;
  letter-spacing:1.5px;
  margin: 5px 0px 12px;
  line-height: 1.2;
  }




/*MAIN MENU NAVIGATION*/

nav li {  display: flex;
  min-width:120px;
max-width: 280px;}

nav ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
   flex-wrap: wrap;
  list-style:none;
  padding:0;
  margin:0 auto;
  max-width:90%;
  gap:40px;
}

nav a  {
  display: flex;
  align-items:center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  Color: #ffea4d;
  background-color: rgba(0, 0, 0, 0.85);
  border: 2px solid #ff3030;
  border-radius: 10px;
  padding: 10px 0px;
  min-height:45px;
  box-sizing: border-box;

  line-height:1}


nav a:hover {
  background:  #ffea4d;
  color:  #000;
  transform: scale(1.2);
   transition: all 0.3s ease;
}




/*COLUMNS IN MAIN BODY*/

.container {
  display: flex;
  flex-wrap:wrap; 
  justify-content: space-between;
  width: 90%;
  margin: 10px auto 30px;
  gap:15px;
}


.column {
   background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(10, 5, 5, 0.3);
border-radius: 10px;
padding: 10px; 
}


.main {
  padding-top: 5px;
  padding-inline: 20px;
  flex: 3;
  min-width: 300px;
  
}

.left {
  flex: 1;
min-width: 200px;}

.right {

  flex: 1;
min-width: 200px;}


/*LEFT COLUMN CONFIG*/

.column ul{
  list-style: none;
  padding:0;
  text-align: center;
  margin:0;}
 
  .column ul li {
    background: rgba(255, 255, 255, 0.05);
    margin: 15px;
    border-radius: 10px;
    font-weight: bold;
   border: 1px solid rgba(255, 200, 0, 0.3);
  text-align: center;
  }



   .article-list a {
    text-decoration:none;
  color:inherit;}

.article-list li:hover {
  background: #ff3030;
  color: #fff;
  transform: scale(1.07);
}

.article-list li {

  margin: 10px 0;
  padding: 10px 14px;
  transition: all 0.3s ease;
}

.article-title {
  font-family: arial;
  color:  #ffea4d;
  font-size: 0.95em;
  margin-bottom: 4px;
display: block;

}

.article-blurb {
  font-family: Arial;
  font-size:0.em;
  line-height: 1.4;
  margin:0
}


  /*FOOTER*/

  footer {
    text-align: center;
    color: #ffea00;
    font-size: 1.3em;
    padding: 20px;
    border-top: 2px solid #ff3030;
  align-items: center;
  justify-content: center;
  background-color: #000;
  
  }

footer a {
  color: #ffea00;
  text-decoration: none;
  font-weight: bold;
  
}

p a:hover {
  color:black;
  background-color: #ffea00;
  padding: 2px 5px;
  border-radius: 4px;
}

p a {
  color: #ffea4d;
  font-weight: bold;
  text-decoration: none;

  transition: all 0.3s ease;
}
